div(ng-controller='navController' Id="navDiv")
  div.desktop
    .left-nav.top.l1-nav
      a.popover-dismiss.popover-icon( tabindex="0" style="display: block;"  
        data-container="body" 
        data-toggle="popover" 
        data-placement="bottom"
        data-html="true"
        data-content="\
          <div><a href='userInfo.html'>User Profile</a></div>\
          <hr class='thin-padding-hr'/>\
          <div><a  href='password.html'>Change Password<a></div>\
          <hr class='thin-padding-hr'/>\
          <div><a  href='locpreffrences.html'>Location Prefrences<a></div>\
          <hr class='thin-padding-hr'/>\
          <div><a  href='apppreffs.html'>App Prefrences<a></div>\
          <hr class='thin-padding-hr'/>\
          <div><a  href='newssubs.html'>News Subscriptions<a></div>\
          <hr class='thin-padding-hr'/>\
          <div><a  href='reportanerror.html'>Report an Error<a></div>")
        .user-pane
          .user-wrapper
            img.user-icon(src="images/usericon.png")
            .user-dropdown
              span.muted-text {{currentUser}}
              i(class="fa fa-sort-desc fa-1")
      .nav-items
        ul.main-nav
          li(ng-click="ctrl.openL2NavForItem(item,true)" ng-repeat="item in navItems track by $index" ng-class="{'open-nav-item' : ctrl.IsOpenItem(item.Id)}")
            div {{item.Name}}
        ul.secondary-nav
          li(ng-click="ctrl.search('Forms & Templates')")
            div Forms & Templates
          li
            div Policies
          li
            div Career Opportunities
          li
            div Professional Development
    .left-nav.l2-nav.slide-nav(style='z-index: 900')
      .nav-items
        .nav-header(style="padding: 10px;")
          div(ng-click="ctrl.redirectToL1Nav(selectedItemIds[0])" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}")
            div {{selectedItemIds[0].Name}}
            div.small-text(style='font-weight: normal; padding-top:10px;') {{selectedItemIds[0].Blurb}}
        ul.hidden-nav.sub-nav
        
          li(ng-repeat="item in l2NavItems" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}" ng-click="ctrl.openL3NavForItem(item,false,0,true)")
            div
              span.nav-menu-text {{item.Name}}
              i.fa.fa-angle-right.pull-right(ng-show="item.hasChildren")
    .left-nav.l3-nav.slide-nav(style='z-index: 800')
      .nav-items
        .nav-header(style="padding: 10px;")
          div(ng-click="ctrl.redirectToL2Nav(selectedItemIds[1])" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}")
            div {{selectedItemIds[1].Name}}
            div.small-text(style='font-weight: normal; padding-top:10px;') {{selectedItemIds[1].Blurb}}        
        ul.hidden-nav.sub-nav
          li(ng-repeat="item in l3NavItems" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}" ng-click="ctrl.openL4NavForItem(item,false,0,true)")
            div
              span.nav-menu-text {{item.Name}}
              i.fa.fa-angle-right.pull-right(ng-show="item.hasChildren")
    .left-nav.l4-nav.slide-nav(style='z-index: 700')
      .nav-header(style="padding: 10px;")
        div(ng-click="ctrl.redirectToL3Nav(selectedItemIds[2])" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}")
          div {{selectedItemIds[2].Name}}
          div.small-text(style='font-weight: normal; padding-top:10px;') {{selectedItemIds[2].Blurb}}
      .nav-items        
        ul.hidden-nav.sub-nav
          li(ng-repeat="item in l4NavItems" ng-class="{'open-nav-item' : ctrl.IsNavigated(item.Id)}" ng-click="ctrl.redirectToL4Nav(item)")
            div {{item.Name}}
    .right-nav.application-drawer(style='z-index: 1000; color: white !important')
      .application-header Applications
      a.all-apps-link.text-muted.pull-right(ng-click="ctrl.redirectToL1Nav(applicationsItem)") All apps >>
      table 
        tbody
          tr(ng-repeat="app in applications")
            td
              i.fa.fa-picture-o
            td
              span {{app.Name}}
              br
              span.application-desc.text-muted {{app.Description}}
            td
              i.fa.fa-star(ng-show="app.Favorite == 'true'")
              i.fa.fa-star-o(ng-show="app.Favorite != 'true'")
        
    .top-nav
      .top-wrapper
        .top-row
          img.logo.desktop-tablet(src="images/epsblogo.png" ng-click="ctrl.redirectHome()" style="cursor: pointer")
          
          img(src="images/apps.png" id="appsIcon" class="popover-icon" style="padding-right: 10px;padding-top: 20px;" ng-click="ctrl.openApplicationDrawer()").pull-right
          img(src="images/schools.png" id="schoolIcon" class="popover-icon" style="padding-right: 10px;padding-top: 20px;" 
            data-container="body" data-toggle="popover" 
            data-placement="bottom"
            data-html="true"
            data-content="<div><a>School Directory</a></div><hr class='thin-padding-hr'/><div><a>Find a School<a></div>").pull-right
          img(src="images/contacts.png" id="contactIcon" class="popover-icon" style="padding-right: 10px;padding-top: 20px;" 
            data-container="body" data-toggle="popover" 
            data-placement="bottom" 
            data-html="true"
            data-content="" ).pull-right
          img(src="images/calendars.png" id="calendarIcon" class="popover-icon" style="padding-right: 10px;padding-top: 20px;" 
            data-container="body" 
            data-toggle="popover" 
            data-html="true"
            data-placement="bottom" 
            data-content="<div><a>2015-2016 Calendar</a></div><hr class='thin-padding-hr'/><div><a>2016-2017 Calendar<a></div><hr class='thin-padding-hr'/><div><a>District Calendar</a></div>").pull-right
          img(src="images/googleapps.png" id="googleIcon" class="popover-icon" style="padding-right: 25px;padding-top: 22px;" 
            data-container="body"
            data-toggle="popover" 
            data-html="true"
            data-placement="bottom" 
            data-content="<div><a>Gmail</a></div><hr class='thin-padding-hr'/><div><a>Google Docs<a></div><hr class='thin-padding-hr'/><div><a>Google Drive</a></div>").pull-right
        .search-bar.col-md-12.no-padding
          label(for="searchText" id="searchLabel")
            i.fa.fa-search.fa-3(ng-click="ctrl.search()")
            form(ng-submit="ctrl.search()")
              input.search-input(type="text" id="searchText" ng-model="searchString"  placeholder="Search...")
        .bread-crumb.col-sm-12.small-text(ng-if="navigatedItems.length > 0")
          span.bread-crumb-l2(ng-click="ctrl.redirectHome()") Home
            span.bread-crumb-separator(ng-if="navigatedItems.length > 0") &nbsp>&nbsp;
          span.bread-crumb-l2(ng-click="ctrl.redirectFromBreadCrumb($index, navItem)" ng-repeat="navItem in navigatedItems") {{navItem.Name}}
            span.bread-crumb-separator(ng-if="$index != navigatedItems.length -1") &nbsp>&nbsp;
        != partial('megamenu')
  div.mobile
    .top-wrapper
      .top-row
        button.menu-hamburger(ng-click='ctrl.toggleMobile()')
          i.fa.fa-bars
        img.logo.desktop-tablet(src="images/epsblogo.png" ng-click="ctrl.redirectHome()" style="cursor: pointer")
        img.logo.phone(src="images/epsbsmall.png" ng-click="ctrl.redirectHome()" style="cursor: pointer")
        button.menu-hamburger.pull-right(ng-click="ctrl.toggleMobileRight()")
          i.fa.fa-th
      .search-bar.col-md-12.no-padding(style='z-index: 9999999999')
        label(for="searchText" id="searchLabel")
          i.fa.fa-search.fa-3(ng-click="ctrl.search()")
          form(ng-submit="ctrl.search()")
            input.search-input(type="text" id="searchText" ng-model="searchString"  placeholder="Search...")
    div.mobile-menu
      div.row-wrapper
        div.user-row.mobile-row
          img.user-icon(src="images/usericon.png" style="margin-right: 15px;")
          span.muted-text {{currentUser}}
          div.expand-button-wrapper.pull-right
            button.expand-mobile
              i.fa.fa-sort-desc
        div.mobile-item-wrapper(ng-repeat="item in navItems track by $index")
          div.mobile-row(id='{{$index}}-l1' ng-click="ctrl.redirectToL1Nav(item)")
            div {{item.Name}}
            div.expand-button-wrapper.pull-right
              button.expand-mobile(ng-click='ctrl.mobileL1(item,$index);$event.stopPropagation(); ' ng-show="item.hasChildren")
                i.fa.fa-sort-desc(ng-hide='ctrl.isOpenMobile($index)')
                i.fa.fa-sort-asc(ng-show='ctrl.isOpenMobile($index)')
          div.mobile-l2(id='{{$index}}-l2')
            div.mobile-row-l2(ng-repeat="item in l2NavItems" ng-click="ctrl.redirectToL2Nav(item)") {{item.Name}}
      div.close-wrapper
        button.close-mobile(ng-click='ctrl.toggleMobile()')
          i.fa.fa-times
    div.mobile-menu-right
      div.close-wrapper
        button.close-mobile(ng-click='ctrl.toggleMobileRight()')
          i.fa.fa-times
      div.row-wrapper
        div.mobile-item-wrapper
          div.mobile-row(id='google-l1')
            div Google Apps
            div.expand-button-wrapper.pull-right
              button.expand-mobile(ng-click='ctrl.mobileL1Right("google");$event.stopPropagation(); ')
                i.fa.fa-sort-desc(ng-hide='ctrl.isOpenMobile("google")')
                i.fa.fa-sort-asc(ng-show='ctrl.isOpenMobile("google")')
          div.mobile-l2(id='google-l2')
            div.mobile-row-l2() Gmail
            div.mobile-row-l2() Google Docs
            div.mobile-row-l2() Google Drive
          div.mobile-item-wrapper
            div.mobile-row(id='calendars-l1')
              div Calendars
              div.expand-button-wrapper.pull-right
                button.expand-mobile(ng-click='ctrl.mobileL1Right("calendars");$event.stopPropagation(); ')
                  i.fa.fa-sort-desc(ng-hide='ctrl.isOpenMobile("calendars")')
                  i.fa.fa-sort-asc(ng-show='ctrl.isOpenMobile("calendars")')
            div.mobile-l2(id='calendars-l2')
              div.mobile-row-l2() 2015-2016 Calendar
              div.mobile-row-l2() 2016-2017 Calendar
              div.mobile-row-l2() District Calendar
          div.mobile-item-wrapper
            div.mobile-row(id='contact-l1')
              div Contacts
              div.expand-button-wrapper.pull-right
                button.expand-mobile(ng-click='ctrl.mobileL1Right("contact");$event.stopPropagation(); ')
                  i.fa.fa-sort-desc(ng-hide='ctrl.isOpenMobile("contact")')
                  i.fa.fa-sort-asc(ng-show='ctrl.isOpenMobile("contact")')
            div.mobile-l2(id='contact-l2')
        div.mobile-item-wrapper
          div.mobile-row(id='schools-l1')
            div Calendars
            div.expand-button-wrapper.pull-right
              button.expand-mobile(ng-click='ctrl.mobileL1Right("schools");$event.stopPropagation(); ')
                i.fa.fa-sort-desc(ng-hide='ctrl.isOpenMobile("schools")')
                i.fa.fa-sort-asc(ng-show='ctrl.isOpenMobile("schools")')
          div.mobile-l2(id='schools-l2')
            div.mobile-row-l2() School Directory
            div.mobile-row-l2() Find a School
          div.mobile-row(id='apps-l1' ng-click="ctrl.redirectToL1Nav(item)")
            div My Apps
            div.expand-button-wrapper.pull-right
              button.expand-mobile(ng-click='ctrl.mobileL1Right("apps");$event.stopPropagation(); ')
                i.fa.fa-sort-desc(ng-hide='ctrl.isOpenMobile("apps")')
                i.fa.fa-sort-asc(ng-show='ctrl.isOpenMobile("apps")')
          div.mobile-l2(id='apps-l2')
            table.l2-table(style='width: 100%;')
              tbody
                tr(ng-repeat="app in applications")
                  td
                    i.fa.fa-picture-o
                  td
                    span {{app.Name}}
                    br
                    span.application-desc.text-muted {{app.Description}}
                  td
                    i.fa.fa-star(ng-show="app.Favorite == 'true'")
                    i.fa.fa-star-o(ng-show="app.Favorite != 'true'")
      
  script(src='js/app/nav/dataService.js')
  script(src='js/app/nav/controller.js')
  script(src='js/app/nav/main.js')
  script.
    angular.bootstrap(document.getElementById('navDiv'),["navApp"])
